<h2>Inicio</h2>

<div>
    <label for="title">title:</label>
    <input id="title" type="text">

    <label for="description">description:</label>
    <input id="description" type="text">

    <label for="price">price:</label>
    <input id="price" type="number">

    <label for="thumbnail">thumbnail:</label>
    <input id="thumbnail" type="text">

    <label for="code">code:</label>
    <input id="code" type="text">

    <label for="stock">stock:</label>
    <input id="stock" type="number">

    <label for="category">category:</label>
    <input id="category" type="text">

    <button id="submit">Enviar</button>
</div>

<div>
    <p id="productList"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>